
<h1>Fin del juego</h1>
<br>
<h3>Total preguntas: <%= @total - 1 %></h3>
<h3>Preguntas correctas: <%= @puntaje %></h3>
<h3>Preguntas incorrectas: <%= @total - 1 - @puntaje %></h3>

<br>
<br>
<h3>Es tu turno muñeco</h3>
<h3>Proximamente</h3>